
.body-custom{
    margin-top:75px;
}

.form-custom{
    margin:10px;
}

.heading-job{
    color:blue;
    font-size: 24px;
    font-weight: bold;
}

.job-company{
    color:#777675;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}

.job-details-heading{
    color: #5f5c5b;
    font-size: 24px;
    padding-top: 10px;

}
.job-details{
    color: #979696;
    font-size: 12px;
    padding-top: 10px;
}

.panel-footer-custom{
    color:#737171;
    font-family: Arial;
    font-color:black;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
}
.button-custom{
    padding-bottom:10px;
}

.panel-custom{
    border-radius: 0px;
    border-width: 2px;
}

button{
    border-radius: 4px;

}

.button-p{
    background-color: #008BFF;
    border-color: #008BFF;
}

.button-s{
    border-color: #3fb618;
    background-color: #3fb618;
}

.button-p:hover{
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.button-s:hover{
  color: #fff;
  background-color: #2a672b;
  border-color: #2a672b;

}

.alert{
    margin-top: 70px;
}
