
.body-custom{
    margin-top:75px;
}

.profile-panel{
    background-color: #C8FFB0
}

.navbar-inverse {
    background-color: black;
    border-color: black;
}
.label-custom{
    margin:20px;
    size:20px;
}

.skill-panel-custom{
    background-color: #ff7f00;
    border-color: #ff7f00;
    color:white;
    text-align: center;
    font-size:16px;
}

.exp-panel-custom{
    background-color: #ff7f00;
    border-color: #ff7f00;
    color:white;
    text-align: left;
    font-size:14px;
    margin-left: 20px;
}

.border-custom{
	border-radius: 4px;
}

.select-custom{
    text-align: center;
    height:35px;
    width: 120px;
}

.button-p{
    background-color: #008BFF;
    border-color: #008BFF;
}

.button-s{
    border-color: #3fb618;
    background-color: #3fb618;
}

.button-p:hover{
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.button-s:hover{
  color: #fff;
  background-color: #2a672b;
  border-color: #2a672b;

}
